*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eaf1f3;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin-right: 100px;
}
a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #337180;
}
.menu{
    background: #fff;
    padding: 10px 0px;
}
.menu a{
    position: relative;
}
.menu a.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -5px  ;
    background: #337180;

}
.menu a:hover{
    color: #337180;
}
.groupe{
    margin-top: 80px;
}
.groupe h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
    color: #337180;
}
.container{
    margin: 0px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
}
.etudiant{
    border: 2px solid #337180;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background: #fff;
    width: 200px;
}
.delete{
    display: none;
}
.etudiant:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 64, 124, 0.8);
}
.etudiant h3,
.etudiant img{
    margin-bottom: 20px;
}
.etudiant span{
    color: #023b49;
}
.etudiant .supprimer{
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background: #d10000;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.ajouter{
    display: flex;
    justify-content: center;
}
.ajouter a{
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    background: #337180;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
}
.formulaire{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 50px 200px;
}
.formulaire .etudiant{
    width: 400px;
    padding-top: 60px;
}
.formulaire #afficher{
   display: none;
}
.formulaire .etudiant .alerte{
   background: #1f9701;
   color: #fff;
   padding: 2px 0px;
   margin-bottom: 30px;
}
.formulaire .form{
    border: 2px solid #337180;
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.formulaire .form:hover{
    box-shadow: 0px 0px 20px 0px rgba(0, 64, 124, 0.8);
}
.form .information{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.information label{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.information input[type=text],
.information select{
    margin-top: 10px;
    padding: 15px;
    border: 2px solid #337180;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 600;
}
.information input[type=text]::placeholder,
.information select{
    font-size: 16px;
    font-weight: 600;
}
.information input[type=text]:focus,
.information select{
    font-size: 16px;
    font-weight: 600;
}
.formulaire .envoyer{
    text-align: center;
}
.formulaire .envoyer button{
    border: none;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    background: #337180;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}


